<%- include('../navbar.ejs') %>

<div class="container text-center g-5">
    <h2 class="mt-2">Associa insegnamento a docente</h2>
    <form action="<%= path %>" method="POST">
        <div class="row justify-content-center m-3">
            <div class="col-auto">
                <label class="col-form-label">Docente</label>
            </div> 
            <div class="col-auto">
                <select id="docente" type="text" class="form-select" name="docente" required>
                    <%if (typeof docenti !=='undefined' ) { docenti.forEach(docente=> {%>
                        <option>
                            <%=docente.nome + " " + docente.cognome + " - SSD: " + docente.ssd%>
                        </option>
                    <% })}%>
                </select>
            </div>
            <!-- <div class="col-auto">
                <input type="text" id="ssd" class="form-control" disabled>
            </div> -->
        </div>
        <div class="row justify-content-center m-3">
            <div class="col-auto">
                <label class="col-form-label">Insegnamento</label>
            </div>
            <div class="col-auto">
                <select id="materia" type="text" class="form-select" name="materia" required>
                    <%if (typeof materie !=='undefined' ) { materie.forEach(materia=> {%>
                        <option>
                            <%=materia.id + " _ " + materia.ssd + " _ "+ materia.nome + " _  CFU: " + materia.cfu %>
                        </option>
                    <% })}%>
                </select>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Assegna</button>
            </div>
        </div>
    </form>
</div>

<script>
    <%if (typeof error !== 'undefined') {%> alert("<%=error%>") <%}%>
    // var docente = document.getElementById('docente')
    // var ssd = document.getElementById('ssd')
    // var docenti = JSON.parse('<% if (typeof docenti !== 'undefined') {%><%-JSON.stringify(docenti).split("'").join("\\'")%><%}%>')
    
    // docente.onchange = docente_onchange
    // function docente_onchange() {
    //     index = docenti.map(e => { 
    //         return e.nome + " " +  e.cognome 
    //     }).indexOf(docente.value)
    //     if (index != -1) ssd.value = docenti[index].ssd
    // }
    // docente_onchange()
</script>

<%- include('../footer.ejs') %>