<%- include('../navbar.ejs') %>

<div class="container text-center pt-3">
    <div class="shadow p-3 mb-5 bg-body rounded">
        <div class="card-body">
            <h2>Tirocini da convalidare</h2>
            <%if(rows.length > 0) { %>
			<table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">ID CDS</th>
                    <th scope="col">Nome CDS</th>
                    <th scope="col">Matricola</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Convalida</th>                    
                </tr>
                </thead>
                <tbody>
                <% rows.forEach((row) => { %>
                    <tr>
                        <td name="<%= row.id_corso %>"> <%= row.id_corso %> </td>
                        <td> <%= row.nome_corso %> </td>
                        <td> <%= row.matricola %> </td>
                        <td> <%= row.nome_studente + ' ' + row.cognome_studente %> </td>
                        <td> 
                            <form action="<%= path%>" method="POST">
                                <input type="number" name="matricola" value="<%=row.matricola%>" hidden readonly>
                                <input type="number" name="id_tirocinio" value="<%=row.id_tirocinio%>" hidden readonly>
                                <button type="submit" class="btn btn-primary px-4">Vai</button> 
                            </form>
                           
                        </td>
                    </tr>
                    
                <% }) %>
                </tbody>
                <tfoot>
                <tr class="table-dark"></tr>
                </tfoot>
            </table>
            <% } else { %>
                <h5>Non esistono tirocini da convalidare al momento.</h5>
            <% } %>


        </div>
    </div>
</div>
</body>

<%- include('../footer.ejs') %>
