<%- include('../navbar.ejs') %>
    <div class="container shadow-sm card mt-2 ">
        <div class="container text-center g-5 card-body ">
            <h2 class="mt-2">Inserisci i dati dello studente</h2>
            <form action="<%= path %>" method="POST">

                <div class="row justify-content-center mt-3">
                    <div class="col-auto">
                        <% if(rows[0]['MAX(matricola)']===null) { %>
                            <input type="number" class="form-control" id="matricola" name="matricola"
                                aria-describedby="nome" required hidden value="6000">
                        <%} else {%>
                                <input type="number" class="form-control" id="matricola" name="matricola"
                                    aria-describedby="nome" required hidden
                                    value="<%= rows[0]['MAX(matricola)'] + 20%>">
                        <%}%>
                        <!-- <input type="text" class="form-control" id="nome" name="nome"
                            aria-describedby="nome" placeholder="Nome" required> -->
                        <div class="form-floating">
                            <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome" required>
                            <label for="nome">Nome</label>
                        </div>
                    </div>

                    <div class="col-auto">
                        <!-- <input type="text" class="form-control" id="cognome" name="cognome" aria-describedby="cognome"
                            placeholder="Cognome" required> -->
                        <div class="form-floating">
                            <input type="text" class="form-control" id="cognome" name="cognome" placeholder="Cognome" required>
                            <label for="cognome">Cognome</label>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center mt-3">
                    <div class="col-auto">
                        <!-- <input type="password" class="form-control" id="password" name="password"
                            aria-describedby="password" placeholder="Password" required> -->
                        <div class="form-floating">
                            <input type="password" class="form-control" id="password1" name="password1" placeholder="Password" required>
                            <label for="password1">Password</label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <!-- <input type="password" class="form-control" id="password" name="password"
                            aria-describedby="password" placeholder="Password" required> -->
                        <div class="form-floating">
                            <input type="password" class="form-control" id="password2" name="password2" placeholder="Conferma Password" required>
                            <label for="password2">Conferma Password</label>
                        </div>
                    </div>
                    
                </div>
                <div class="row justify-content-center mt-3">
                    <div class="col-auto">
                        <label for="corso">Corso di studi</label>
                    </div>
                    <div class="col-auto">
                        <select class="form-control" id="corso" name="corso" aria-describedby="corso"
                            list="datalist_cds" required>
                            <datalist id="datalist_cds">
                                <% for(var i=0; i < cds.length; i++) { %>
                                    <option id="opt_<%=i%>" name="<%=cds[i].id%>">
                                        <%= cds[i].tipo + ' ' + cds[i].id + ' - ' + cds[i].nome %>
                                    </option>
                                    <% } %>
                            </datalist>
                        </select>
                    </div>
                </div>
                <div class="row justify-content-center mt-3">
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary">Invia</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <%- include('../footer.ejs') %>