<%- include('../navbar.ejs') %>

<form action="/admin/crea_cds" method="POST">
<div class="container text-center mt-3">
        <div class="row g-3 align-items-center">
          <div class="col-1">
            <label class="col-form-label">Codice</label>
          </div>
          <div class="col-1">
            <input type="text" class="form-control" name="id_cds" required autofocus value="<% if (typeof pallina !== 'undefined') {%><%= pallina.id_cds %><%} %>">
          </div>
          <div class="col-auto">
            <label class="col-form-label" >Denominazione</label>
          </div>
          <div class="col-4">
            <input type="text" class="form-control" name="nome_cds" required value="<% if (typeof pallina !== 'undefined') {%><%= pallina.nome_cds %><%} %>">

          </div>
          <div class="col-auto">
            <select class="form-select" aria-label="Default select example" name="tipo_cds" required>
                <option <% if (typeof pallina === 'undefined') { %> selected <% } %> >Tipo di laurea</option>
                <option <% if (typeof pallina !== 'undefined') { if ( pallina.tipo_cds === 'Triennale') { %> selected <% } } %> >Triennale</option>
                <option <% if (typeof pallina !== 'undefined') { if ( pallina.tipo_cds === 'Magistrale') { %> selected <% } } %> >Magistrale</option>
                <option <% if (typeof pallina !== 'undefined') { if ( pallina.tipo_cds === 'Magistrale a ciclo unico') { %> selected <% } } %> >Magistrale a ciclo unico</option>
            </select>
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary">Invia</button>
          </div>
        </div>
    

    <table id="myTable" class="table mt-2" data-toggle="table" data-mobile-responsive="true" data-pagination="true" data-height="460">
        <thead>
        </thead>
        <tbody>
          <tr>
            <td>
                <label for="nome_0" class="form-label">Denominazione</label>
                <input id="tot_righe" type="text" hidden name="tot_righe" value="<% if (typeof pallina !== 'undefined') { %><%= pallina.tot_righe %><% } else { %>1<% } %>">
                <input type="text" id="nome_0" name="nome_0" required class="form-control" list="datalist_nomi" placeholder="Denominazione insegnamento" value="<% if (typeof pallina !== 'undefined') { %><%= pallina.materie[0].nome %><% } %>">
                <datalist id="datalist_nomi">
                  <% lista_materie_ssd.forEach(e => { %> <option value="<%= e.nome %>"> <% }) %>
                  <% if (typeof materie_attive !== 'undefined') { materie_attive.forEach(materia => {%> <option value="<%= materia.id %>"> <% }) }  %>
                </datalist>
            </td>
            <td>
                <label for="ssd_0" class="form-label">S.S.D.</label>
                <input type="text" id="ssd_0" name="ssd_0" class="form-control" 
                    list="datalist_ssd" placeholder="S.S.D." 
                    <% if (typeof pallina !== 'undefined') { %>
                    <%if (pallina.materie[0].ssd !== '') { %>value="<%= pallina.materie[0].ssd %>" <% } %>
                    <% if (pallina.materie[0].nome === 'Tesi' || 
                        pallina.materie[0].nome === 'Tirocinio'|| 
                        pallina.materie[0].nome === 'Prova finale') { %>
                          disabled
                <%} }%> required>
                <datalist id="datalist_ssd">
                <% lista_materie_ssd.forEach(e => { %> <option value="<%= e.ssd %>"> <% }) %>
                </datalist>
            </td>
            <td>
              <label for="scelta_0" class="form-label">Scelta</label>
              <select class="form-select"
              aria-label="Default select example" 
              id="scelta_0" name="scelta_0" required>
                <option <% if (typeof pallina === 'undefined') { %> selected <% } %> >No</option>
                <option <% if (typeof pallina !== 'undefined') { if ( pallina.materie[0].scelta === 'Primo blocco') { %> selected <% } } %> >Primo blocco</option>
                <option <% if (typeof pallina !== 'undefined') { if ( pallina.materie[0].scelta === 'Secondo blocco') { %> selected <% } } %> >Secondo blocco</option>
                <option <% if (typeof pallina !== 'undefined') { if ( pallina.materie[0].scelta === 'Terzo blocco') { %> selected <% } } %> >Terzo blocco</option>
              </select>
          </td>
            <td>
              <label for="anno_0" class="form-label">Anno</label>
              <select class="form-select" aria-label="Default select example" id="anno_0" name="anno_0" required>
                <option <% if (typeof pallina === 'undefined') { %> selected <% } %> >1</option>
                <option <% if (typeof pallina !== 'undefined') { if ( pallina.materie[0].anno === '2') { %> selected <% } } %> >2</option>
                <option <% if (typeof pallina !== 'undefined') { if ( pallina.materie[0].anno === '3') { %> selected <% } } %> >3</option>
                <option <% if (typeof pallina !== 'undefined') { if ( pallina.materie[0].anno === '4') { %> selected <% } } %> >4</option>
                <option <% if (typeof pallina !== 'undefined') { if ( pallina.materie[0].anno === '5') { %> selected <% } } %> >5</option>
              </select>
          </td>
            <td>
                <label for="cfu" class="form-label">CFU</label>
                <input hidden id="cfu_hidden_0" name="cfu_0" value="<% if (typeof pallina !== 'undefined') {%><%= pallina.materie[0].cfu %> <% } else { %>3<% } %>">
                <select class="form-select" aria-label="Default select example" id="cfu_0" required <% if (typeof pallina !== 'undefined') { if (pallina.materie[0].scelta !== 'No') {%> disabled <% } } %>>
                  <option <% if (typeof pallina === 'undefined') { %> selected <% } %> >3</option>
                  <option <% if (typeof pallina !== 'undefined') { if ( pallina.materie[0].cfu === '6') { %> selected <% } } %> >6</option>
                  <option <% if (typeof pallina !== 'undefined') { if ( pallina.materie[0].cfu === '9') { %> selected <% } } %> >9</option>
                  <option <% if (typeof pallina !== 'undefined') { if ( pallina.materie[0].cfu === '12') { %> selected <% } } %> >12</option>
                </select>
            </td>
            <td>
              <a href="#" id="addrow" style="color: #FFFFFF;"><button  type="button" class="btn btn-secondary">Aggiungi</button></a>
            </td>
          </tr>
          <% if (typeof pallina !== 'undefined') { pallina.materie.forEach((materia,index) => { if (index == 0) { return } %>
          <tr>
              <td> 
                <input type="text" id="nome_<%= index.toString() %>" 
                  name="nome_<%= index.toString() %>" 
                  class="form-control" list="datalist_nomi" 
                  placeholder="Denominazione insegnamento" 
                  required value="<%= materia.nome %>">
              </td>
              <td> 
                <input type="text" id="ssd_<%= index.toString() %>"
                  name="ssd_<%= index.toString() %>" 
                  class="form-control" list="datalist_ssd" 
                  placeholder="S.S.D." required 
                  value="<%= materia.ssd %>"
                  <%if (materia.nome === 'Tesi' || 
                        materia.nome === 'Tirocinio'|| 
                        materia.nome === 'Prova finale') {%>
                          disabled
                  <%}%> >
              </td>
              <td> 
                  <select class="form-select" id="scelta_<%= index.toString() %>"
                    aria-label="Default select example"
                    name="scelta_<%= index.toString() %>" required>
                    <option <% if (materia.scelta === 'No') { %> selected <% } %> >No</option>
                    <option <% if (materia.scelta === 'Primo blocco') { %> selected <% } %> >Primo blocco</option>
                    <option <% if (materia.scelta === 'Secondo blocco') { %> selected <% } %> >Secondo blocco</option>
                    <option <% if (materia.scelta === 'Terzo blocco') { %> selected <% } %> >Terzo blocco</option>
                  </select>
              </td>
                <td>
                  <select class="form-select" id="anno_<%= index.toString() %>"
                    aria-label="Default select example" 
                    name="anno_<%= index.toString() %>" required>
                    <option <% if (materia.anno === '1') { %> selected <% } %> >1</option>
                    <option <% if (materia.anno === '2') { %> selected <% } %> >2</option>
                    <option <% if (materia.anno === '3') { %> selected <% } %> >3</option>
                    <option <% if (materia.anno === '4') { %> selected <% } %> >4</option>
                    <option <% if (materia.anno === '5') { %> selected <% } %> >5</option>
                  </select>
              </td>
              <td>
                <input hidden id="cfu_hidden_<%=index%>" name="cfu_<%=index%>" value="<%=materia.cfu %>">
                <select class="form-select" id="cfu_<%= index.toString() %>"
                  aria-label="Default select example" required <%if (materia.scelta !== 'No') {%> disabled <%}%>>
                  <option <% if (materia.cfu === '3') { %> selected <% } %> >3</option>
                  <option <% if (materia.cfu === '6') { %> selected <% } %> >6</option>
                  <option <% if (materia.cfu === '9') { %> selected <% } %> >9</option>
                  <option <% if (materia.cfu === '12') { %> selected <% } %> >12</option>
                </select>
              </td>
              <td> 
                <button class="btn btnDelete btn-secondary" id="delrow">-</button>
              </td>
            </tr>
          <% }) } %>
        </tbody>
      </table>
</div>
</form>
<%- include('../footer.ejs') %>
<script>
    <% if (typeof pallina !== 'undefined') { if (typeof pallina.error !== 'undefined') { %> alert("<%= pallina.error %>") <% } } %>
    
    var unique_index = <% if (typeof pallina !== 'undefined') { %><%= pallina.tot_righe %><% } else { %>1<% } %>;
    console.log("unique_index:", unique_index)

    var materie_attive = JSON.parse('<% if (typeof materie_attive !== 'undefined') {%><%-JSON.stringify(materie_attive).split("'").join("\\'")%><%}%>')    
    
    function nome_onchange() {
      var testo = this.value.trimEnd().trimStart()
      var ssd = document.getElementById('ssd_' + this.id.split('_')[1])
      var scelta = document.getElementById('scelta_' + this.id.split('_')[1])
      var cfu = document.getElementById('cfu_' + this.id.split('_')[1])
      var cfu_hidden = document.getElementById('cfu_hidden_' + this.id.split('_')[1])
      switch(testo) {
        case 'Tesi':
        case 'Prova finale':
        case 'Tirocinio':
          ssd.disabled = true
          ssd.value = ""
          return
        default:
          ssd.disabled = false
      }
      var index = materie_attive.map(e => {return e.nome}).indexOf(testo)
      if (index != -1) {
        ssd.value = materie_attive[index].ssd
        return
      }
      num = parseInt(testo)
      if (isNaN(num)) return
      index = materie_attive.map(e => {return e.id}).indexOf(num)
      if (index != -1) {
        ssd.value = materie_attive[index].ssd
        cfu.value = materie_attive[index].cfu
        cfu_hidden.value = materie_attive[index].cfu
        return
      }
    }

    function scelta_onchange() {
      var nome = document.getElementById('nome_' + this.id.split('_')[1])
      num = this.id.split('_')[1]
      switch(this.value) {
        case 'Primo blocco':
        case 'Secondo blocco':
        case 'Terzo blocco':
          document.getElementById('nome_' + num).placeholder = "Codice insegnamento"
          document.getElementById('cfu_' + num).disabled = true
          break
        default:
          document.getElementById('nome_' + num).placeholder = "Denominazione insegnamento"
          document.getElementById('cfu_' + num).disabled = false
      }
    }

    function cfu_onchange() {
      var cfu = document.getElementById('cfu_' + this.id.split('_')[1])
      var cfu_hidden = document.getElementById('cfu_hidden_' + this.id.split('_')[1])
      cfu_hidden.value = cfu.value
    }

        // assegna i callback ai tag
    for (i = 0; i < unique_index; i++) {
      if (document.getElementById('scelta_' + i) === null) continue
      document.getElementById('scelta_' + i).onchange = scelta_onchange
      document.getElementById('nome_' + i).onchange = nome_onchange
      document.getElementById('nome_' + i).onkeyup = nome_onchange
      document.getElementById('cfu_' + i).onchange = cfu_onchange
    }

    $(document).ready(function() {
      //Try to get tbody first with jquery children. works faster!
      var tbody = $('#myTable').children('tbody');

      //Then if no tbody just select your table 
      var table = tbody.length ? tbody : $('#myTable');

      $('#addrow').click(function() {
        //Add row
        // var prova = document.getElementById('tot_righe')
        // console.log(prova.value)
          console.log("asd", unique_index);
          table.append('<tr> <td><input type="text" id="nome_' + unique_index.toString() + '" name="nome_' + unique_index.toString() + '" class="form-control" list="datalist_nomi" placeholder="Denominazione insegnamento" required> <datalist id="datalist_nomi"> <% lista_materie_ssd.forEach(e=> { %> <option value="<%= e.nome %>"> <% }) %> </datalist></td> <td> <input type="text" id="ssd_' + unique_index.toString() + '" name="ssd_' + unique_index.toString() + '" class="form-control" list="datalist_ssd" placeholder="S.S.D." required><datalist id="datalist_ssd"> <% lista_materie_ssd.forEach(e=> { %> <option value="<%= e.ssd %>"> <% }) %> </datalist> </td> <td><select class="form-select" aria-label="Default select example" id="scelta_' + unique_index.toString() + '" name="scelta_' + unique_index.toString() + '" required> <option selected>No</option> <option>Primo blocco</option> <option>Secondo blocco</option> <option>Terzo blocco</option> </select></td> <td><select class="form-select" aria-label="Default select example" id="anno_' + unique_index.toString() + '" name="anno_' + unique_index.toString() + '" required> <option selected>1</option> <option>2</option> <option>3</option> <option>4</option> <option>5</option> </select></td> <td>  <input hidden id="cfu_hidden_' + unique_index + '" name="cfu_' + unique_index + '" value="3"> <select class="form-select" aria-label="Default select example" id="cfu_' + unique_index.toString() + '" required> <option selected>3</option> <option>6</option> <option>9</option> <option>12</option> </select></td> <td> <button class="btn btnDelete btn-secondary" id="delrow">-</button> </td> </tr> ');
          document.getElementById('scelta_' + unique_index).onchange = scelta_onchange
          document.getElementById('nome_' + unique_index).onchange = nome_onchange
          document.getElementById('nome_' + unique_index).onkeyup = nome_onchange
          document.getElementById('cfu_' + unique_index).onchange = cfu_onchange
          unique_index++;
          document.getElementById('tot_righe').value = unique_index.toString();
      })

      $("#myTable").on('click', '.btnDelete', function() {
        $(this).closest('tr').remove();
        document.getElementById('tot_righe').value = unique_index.toString();
        // var prova = document.getElementById('tot_righe')
        // console.log(prova.value)
      });

    });

</script>
