<%- include('../navbar.ejs') %>
<div class="container text-center mt-3">
  <div class="accordion" id="accordionExample">
    <% var i = 0 %>
    <%  lista_cds.forEach(e => { %>
    <% var corso = e.id %>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo<%=i%>">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo<%=i%>" aria-expanded="false" aria-controls="collapseTwo<%=i%>">
            <%= e.nome %>
          </button>
        </h2>
        <div id="collapseTwo<%=i%>" class="accordion-collapse collapse" aria-labelledby="headingTwo<%=i%>" data-bs-parent="#accordionExample">
          <div class="accordion-body h-50">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <%  lista_materie.forEach(e => { %>
                  <% if(e.id_cds !== corso) return; %>
                  <button type="button" class="list-group-item list-group-item-action"> <%= e.nome_insegnamento %></button>
                <% }) %>
              </li>
            </ul>	
          </div>
        </div>
      </div>
      <% i++ %>
    <% }) %>
  </div>
</div>



<%- include('../footer.ejs') %>