<%- include('../navbar.ejs') %>
<div class="container mt-2">
    <form action="<%= path %>" method="POST">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="radio" id="radio_crea" value="true" checked>
      <label class="form-check-label" for="radio_crea">
        Crea docente
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="radio" id="radio_rimuovi" value="true" >
      <label class="form-check-label" for="radio_rimuovi">
        Rimuovi docente
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="radio" id="radio_materia" value="true">
      <label class="form-check-label" for="radio_materia">
        Assegna insegnamento
      </label>
    </div>
    <div class="row mt-1 g-2">
        <div class="col-auto">
            <label for="nome_docente" class="form-label">Nome docente</label>
            <input type="text" class="form-control" list="datalist_nomi_docenti" id="nome_docente" aria-describedby="Nome docente">
            <datalist id="datalist_nomi_docenti">
              <% docenti.forEach(e => { %> <option value="<%= e.nome %>"> <% }) %>
            </datalist>
        </div>
        <div class="col-auto">
            <label for="cognome_docente" class="form-label">Cognome docente</label>
            <input type="text" class="form-control" list="datalist_cognomi_docenti" id="cognome_docente" aria-describedby="Nome docente">
            <datalist id="datalist_cognomi_docenti">
              <% docenti.forEach(e => { %> <option value="<%= e.cognome %>"> <% }) %>
            </datalist>
        </div>
        <div class="col-1">
            <label for="ssd_docente" class="form-label">SSD</label>
            <input type="text" class="form-control" list="datalist_ssd" id="ssd_docente" aria-describedby="SSD">
            <datalist id="datalist_ssd">
            <% lista_materie_ssd.forEach(e => { %> <option value="<%= e.ssd %>"> <% }) %>
            </datalist>
        </div>
        <div class="col-auto">
            <label for="password_docente" class="form-label">Password</label>
            <input type="password" class="form-control" id="password_docente" aria-describedby="Password">
        </div>
    </div>
    <div class="row mt-1 g-2">
      <div class="col-auto">
        <label for="id_materia" class="col-form-label">Inserisci codice insegnamento da assegnare:</label>
      </div>
      <div class="col-1">
        <select type="text" id="id_materia" class="form-control" aria-describedby="id_materia">
            <% cds.forEach(e => { %> <option><%= e.id %></option> <% }) %>
        </select>
      </div>
    </div>
    <button type="button" class="btn btn-primary">Invia</button>
    </form>
    <!-- --------------------------------- -->
    <!-- LISTE DOCENTI E INSEGNAMENTI -->
    <!-- --------------------------------- -->
    <div class="accordion mt-5" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="unibtn btn collapsed" style="width: 100%;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              Docenti attivi nell'ateneo (nome, cognome e SSD)
            </button>
          </h2>
        </div>
    
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
              <%  docenti.forEach(docente => {
                  if (docente.id == 0 || docente.id == -1) return; %>
                  <p class="lead"><%= docente.nome %> <%= docente.cognome%> - <%= docente.ssd%></p>
              <% }) %>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingTwo">
          <h2 class="mb-0">
            <button class="btn collapsed" style="width: 100%;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Insegnementi non assegnati (codice, denominazione ed SSD)
            </button>
          </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <%  materie.forEach(materia => {
                    if (materia.id == 0) return; %>
                    <p class="lead"><%= materia.id %> : <%= materia.nome %> - <%= materia.ssd %></p>
                <% }) %>
              </li>
            </ul>									
          </div>
        </div>
      </div>
    </div>
    <script>
        var radio_crea = document.getElementById('radio_crea');
        var radio_rimuovi = document.getElementById('radio_rimuovi');
        var radio_materia = document.getElementById('radio_materia');
        var ssd_docente = document.getElementById('ssd_docente');
        var password_docente = document.getElementById('password_docente');
        var id_materia = document.getElementById('id_materia');
        radio_crea.addEventListener("change", function () {
            if (radio_crea.checked) {
                ssd_docente.disabled = false
                password_docente.disabled = false
                id_materia.disabled = true
                radio_crea.value = "checked"
                radio_rimuovi.value = ""
                radio_materia.value = ""
            }
        });
        radio_rimuovi.addEventListener("change", function () {
            if (radio_rimuovi.checked) {
                ssd_docente.disabled = true
                password_docente.disabled = true
                id_materia.disabled = true
                radio_crea.value = ""
                radio_rimuovi.value = "checked"
                radio_materia.value = ""
            }
        });
        radio_materia.addEventListener("change", function () {
            if (radio_materia.checked) {
                ssd_docente.disabled = true
                password_docente.disabled = true
                id_materia.disabled = false
                radio_crea.value = ""
                radio_rimuovi.value = ""
                radio_materia.value = "checked"
            }
        });
    </script>
</div>
<%- include('../footer.ejs') %>