<%- include('../navbar.ejs') %>

    <form action="/admin/<% if (typeof pallina !=='undefined' ) {%>modifica_cds<%} else {%>prendi_cds<% } %>" method="POST">
        <div class="container text-center mt-3">
            <div class="row g-3 align-items-center">
                <div class="col-1">
                    <label class="col-form-label">Codice</label>
                </div>
                <div class="col-auto">
                    <select class="form-select" id="id_cds" required autofocus <% if (typeof pallina
                        !=='undefined' ) {%>disabled<%} else {%>name="id_cds"<%}%>>
                            <% lista_cds.forEach(cds=> { %>
                                <option <%if (typeof pallina !== 'undefined') { if (pallina.id_cds === cds.id.toString()) {%>selected<% } }%> >
                                    <%=cds.id%>
                                </option>
                                <% })%>
                    </select>
                </div>
                <div class="col-auto">
                    <input type="text" id="nome_cds" name="nome_cds" class="form-control" readonly>
                </div>
                    <% if (typeof pallina !== 'undefined') { %><div class="col-1"><input id="tipo_cds" class="form-control" type="text" readonly name="tipo_cds"
                        value="<%= pallina.tipo_cds %>"></div><% }%>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">
                        <% if (typeof pallina !=='undefined' ) {%>Modifica<%} else {%>Invia<% } %>
                    </button>
                </div>
            </div>

            <datalist id="datalist_ssd">
                <% lista_materie_ssd.forEach(e=> { %> <option value="<%= e.ssd %>">
                        <% }) %>
            </datalist>
            <datalist id="datalist_nomi">
                <% lista_materie_ssd.forEach(e=> { %> <option value="<%= e.nome %>">
                        <% }) %>
                            <% if (typeof materie_attive !=='undefined' ) { materie_attive.forEach(materia=> {%>
                    <option value="<%= materia.id %>">
                        <% }) } %>
            </datalist>
            <input id="tot_righe" type="text" hidden name="tot_righe"
                value="<% if (typeof pallina !== 'undefined') { %><%= pallina.tot_righe %><% } else { %>1<% } %>">
            
            <% if (typeof pallina !== 'undefined') { %><input type="text" hidden name="id_cds"
                value="<%= pallina.id_cds %>"><% }%>
                

            <!-- ------------------------------
                           TABELLA
                ------------------------------ -->

            <table id="myTable" class="table mt-2" data-toggle="table" data-mobile-responsive="true"
                data-pagination="true" data-height="460">
                <thead></thead>
                <tbody>
                    <% if (typeof pallina !=='undefined' ) { pallina.materie.forEach((materia,index)=> {%>
                        <tr>
                            <input type="text" hidden name="id_<%= index %>" value="<%= materia.id %>">
                            <td>
                                <% if (index==0) {%> <label for="nome_<%=index%>"
                                        class="form-label">Denominazione</label>
                                    <% } %>
                                        <input type="text" id="nome_<%= index.toString() %>"
                                            name="nome_<%= index.toString() %>" class="form-control"
                                            list="datalist_nomi" placeholder="Denominazione insegnamento" required
                                            value="<%= materia.nome %>">
                            </td>
                            <td>
                                <% if (index==0) {%> <label for="ssd_<%=index%>" class="form-label">S.S.D.</label>
                                    <% } %>
                                        <input type="text" id="ssd_<%= index.toString() %>"
                                            name="ssd_<%= index.toString() %>" class="form-control" list="datalist_ssd"
                                            placeholder="S.S.D." required value="<%= materia.ssd %>" <%if
                                            (materia.nome.toUpperCase() ==='TESI' || materia.nome.toUpperCase() ==='TIROCINIO' ||
                                            materia.nome.toUpperCase() ==='PROVA FINALE' ) {%>
                                        disabled
                                        <%}%> >
                            </td>
                            <td>
                                <% if (index==0) {%> <label for="scelta_<%=index%>" class="form-label">Scelta</label>
                                    <% } %>
                                        <select class="form-select" id="scelta_<%= index.toString() %>"
                                            aria-label="Default select example" name="scelta_<%= index.toString() %>"
                                            required>
                                            <option <% if (materia.scelta==='No' ) { %> selected <% } %> >No</option>
                                            <option <% if (materia.scelta==='Primo blocco' ) { %> selected <% } %>
                                                    >Primo blocco</option>
                                            <option <% if (materia.scelta==='Secondo blocco' ) { %> selected <% } %>
                                                    >Secondo blocco</option>
                                            <option <% if (materia.scelta==='Terzo blocco' ) { %> selected <% } %>
                                                    >Terzo blocco</option>
                                        </select>
                            </td>
                            <td>
                                <% if (index==0) {%> <label for="anno_<%=index%>" class="form-label">Anno</label>
                                    <% } %>
                                        <select class="form-select" id="anno_<%= index.toString() %>"
                                            aria-label="Default select example" name="anno_<%= index.toString() %>"
                                            required>
                                            <option <% if (materia.anno==='1' ) { %> selected <% } %> >1</option>
                                            <option <% if (materia.anno==='2' ) { %> selected <% } %> >2</option>
                                            <option <% if (materia.anno==='3' ) { %> selected <% } %> >3</option>
                                            <option <% if (materia.anno==='4' ) { %> selected <% } %> >4</option>
                                            <option <% if (materia.anno==='5' ) { %> selected <% } %> >5</option>
                                        </select>
                            </td>
                            <td>
                                <% if (index==0) {%> <label for="cfu_<%=index%>" class="form-label">CFU</label>
                                    <% } %>
                                        <input hidden id="cfu_hidden_<%=index%>" name="cfu_<%=index%>" value="<%=materia.cfu %>">
                                        <select class="form-select" id="cfu_<%= index.toString() %>"
                                            aria-label="Default select example" required <%if (materia.scelta !== 'No') {%> disabled <%}%>>
                                            <option <% if (materia.cfu==='3' ) { %> selected <% } %> >3</option>
                                            <option <% if (materia.cfu==='6' ) { %> selected <% } %> >6</option>
                                            <option <% if (materia.cfu==='9' ) { %> selected <% } %> >9</option>
                                            <option <% if (materia.cfu==='12' ) { %> selected <% } %> >12</option>
                                        </select>
                            </td>
                            <td>
                                <% if (index==0) {%> <a href="#" id="addrow" style="color: #FFFFFF;"><button
                                            type="button" class="btn btn-secondary">Aggiungi</button></a>
                                    <% } else { %>
                                        <button class="btn btnDelete btn-secondary" id="delrow">-</button>
                                        <% } %>
                            </td>
                        </tr>
                        <% }) } %>
                </tbody>
            </table>
        </div>
    </form>
    <%- include('../footer.ejs') %>
        <script>
            <% if (typeof pallina !== 'undefined') { if (typeof pallina.error !== 'undefined') { %> console.log("alert pallina"); alert("<%= pallina.error %>") <% } } %>
    
            var unique_index = <% if (typeof pallina !== 'undefined') { %><%= pallina.tot_righe %><% } else { %> 1 <% } %>;
            console.log("unique_index:", unique_index)

            var materie_attive = JSON.parse('<% if (typeof materie_attive !== 'undefined') {%><%-JSON.stringify(materie_attive).split("'").join("\\'")%><%}%>')
            var lista_cds = JSON.parse('<% if (typeof lista_cds !== 'undefined') {%><%-JSON.stringify(lista_cds).split("'").join("\\'")%><%}%>')
            var lista_materie_ssd = JSON.parse('<% if (typeof lista_materie_ssd !== 'undefined') {%><%-JSON.stringify(lista_materie_ssd).split("'").join("\\'")%><%}%>')

            document.getElementById('id_cds').onchange = id_cds_onchange
            id_cds_onchange()

            function id_cds_onchange() {
                id = document.getElementById('id_cds').value
                denom = document.getElementById('nome_cds')
                console.log("id_cds_onchange")
                lista_cds.forEach(cds => {
                    if (cds.id.toString() === id) {
                        denom.value = cds.nome
                    }
                });
            }

            function nome_onchange() {
                var testo = this.value.trimEnd().trimStart()
                var ssd = document.getElementById('ssd_' + this.id.split('_')[1])
                var scelta = document.getElementById('scelta_' + this.id.split('_')[1])
                var cfu = document.getElementById('cfu_' + this.id.split('_')[1])
                var cfu_hidden = document.getElementById('cfu_hidden_' + this.id.split('_')[1])
                switch (testo.toUpperCase()) {
                    case 'TESI':
                    case 'PROVA FINALE':
                    case 'TIROCINIO':
                        ssd.disabled = true
                        ssd.value = ""
                        return
                    default:
                        ssd.disabled = false
                }
                var index = lista_materie_ssd.map(e => { return e.nome }).indexOf(testo)
                if (index != -1) {
                    ssd.value = lista_materie_ssd[index].ssd
                    return
                }
                num = parseInt(testo)
                if (isNaN(num)) return
                index = materie_attive.map(e => { return e.id }).indexOf(num)
                if (index != -1) {
                    ssd.value = materie_attive[index].ssd
                    cfu.value = materie_attive[index].cfu
                    cfu_hidden.value = materie_attive[index].cfu
                    return
                }
            }

            function scelta_onchange() {
                var nome = document.getElementById('nome_' + this.id.split('_')[1])
                num = this.id.split('_')[1]
                switch (this.value) {
                    case 'Primo blocco':
                    case 'Secondo blocco':
                    case 'Terzo blocco':
                        document.getElementById('nome_' + num).placeholder = "Codice insegnamento"
                        document.getElementById('cfu_' + num).disabled = true
                        break
                    default:
                        document.getElementById('nome_' + num).placeholder = "Denominazione insegnamento"
                        document.getElementById('cfu_' + num).disabled = false
                }
            }

            function cfu_onchange() {
                var cfu = document.getElementById('cfu_' + this.id.split('_')[1])
                var cfu_hidden = document.getElementById('cfu_hidden_' + this.id.split('_')[1])
                cfu_hidden.value = cfu.value
                }

            // assegna i callback ai tag
            for (i = 0; i < unique_index; i++) {
                if (document.getElementById('scelta_' + i) === null) continue
                document.getElementById('scelta_' + i).onchange = scelta_onchange
                document.getElementById('nome_' + i).onchange = nome_onchange
                document.getElementById('nome_' + i).onkeyup = nome_onchange
                document.getElementById('cfu_' + i).onchange = cfu_onchange
            }

            $(document).ready(function () {
                //Try to get tbody first with jquery children. works faster!
                var tbody = $('#myTable').children('tbody');

                //Then if no tbody just select your table 
                var table = tbody.length ? tbody : $('#myTable');

                $('#addrow').click(function () {
                    //Add row
                    // var prova = document.getElementById('tot_righe')
                    // console.log(prova.value)
                    console.log("asd", unique_index);
                    table.append('<tr> <td><input type="text" id="nome_' + unique_index.toString() + '" name="nome_' + unique_index.toString() + '" class="form-control" list="datalist_nomi" placeholder="Denominazione insegnamento" required> <datalist id="datalist_nomi"> <% lista_materie_ssd.forEach(e=> { %> <option value="<%= e.nome %>"> <% }) %> </datalist></td> <td> <input type="text" id="ssd_' + unique_index.toString() + '" name="ssd_' + unique_index.toString() + '" class="form-control" list="datalist_ssd" placeholder="S.S.D." required><datalist id="datalist_ssd"> <% lista_materie_ssd.forEach(e=> { %> <option value="<%= e.ssd %>"> <% }) %> </datalist> </td> <td><select class="form-select" aria-label="Default select example" id="scelta_' + unique_index.toString() + '" name="scelta_' + unique_index.toString() + '" required> <option selected>No</option> <option>Primo blocco</option> <option>Secondo blocco</option> <option>Terzo blocco</option> </select></td> <td><select class="form-select" aria-label="Default select example" id="anno_' + unique_index.toString() + '" name="anno_' + unique_index.toString() + '" required> <option selected>1</option> <option>2</option> <option>3</option> <option>4</option> <option>5</option> </select></td> <td>  <input hidden id="cfu_hidden_' + unique_index + '" name="cfu_' + unique_index + '" value="3"> <select class="form-select" aria-label="Default select example" id="cfu_' + unique_index.toString() + '" required> <option selected>3</option> <option>6</option> <option>9</option> <option>12</option> </select></td> <td> <button class="btn btnDelete btn-secondary" id="delrow">-</button> </td> </tr> ');
                    document.getElementById('scelta_' + unique_index).onchange = scelta_onchange
                    document.getElementById('nome_' + unique_index).onchange = nome_onchange
                    document.getElementById('nome_' + unique_index).onkeyup = nome_onchange
                    document.getElementById('cfu_' + unique_index).onchange = cfu_onchange
                    unique_index++;
                    document.getElementById('tot_righe').value = unique_index.toString();
                })

                $("#myTable").on('click', '.btnDelete', function () {
                    $(this).closest('tr').remove();
                    document.getElementById('tot_righe').value = unique_index.toString();
                    // var prova = document.getElementById('tot_righe')
                    // console.log(prova.value)
                });

            });

        </script>