<%- include('../navbar.ejs') %>

<div class="container text-center g-5">
    <h2 class="mt-2">Inserisci il docente</h2>
    <form action="<%= path %>" method="POST">
        <div class="row justify-content-center">
            <div class="col-3">
                <select type="text" id="docente" name="docente" required class="form-control">
                <!-- <datalist id="datalist_nomi"> -->
                  <% for(var i=0; i < rows.length; i++) { %> 
                        <option id="opt_<%=i%>" name="<%=rows[i].id%>"> <%= rows[i].id + ' - ' + rows[i].cognome + ' ' + rows[i].nome %> </option>
                  <% } %>                 
                <!-- </datalist> -->
                </select>
            </div>
            <div class="col-auto">
                <button id="invia" type="submit" class="btn btn-primary" >Invia</button>
            </div>
        </div>

        <div id="orari" class="container mt-2 row justify-content-center">
            <div class="col-2">
                <label for="inizio">Inizio</label>
                <input type="time" id="inizio" name="inizio" required class="form-control" onchange="check()">
            </div>
            
            <div class="col-2">
                <label for="fine">Fine</label>
                <input type="time" id="fine" name="fine" required class="form-control" onchange="check()">
            </div>
        </div>
    </form>
</div>
<%- include('../footer.ejs') %>

<script>
    console.log(document.getElementById('inizio').value)
    // function show() {
    //   var x = document.getElementById("orari");
    //   if (x.style.display === "none") {
    //     x.style.display = "show";
    //   }
    // }

    function check() {
        x = document.getElementById('inizio').value;
        y = document.getElementById('fine').value;

        if (x >= y){
            document.getElementById('invia').setAttribute('disabled', '')
        }
        else {
            document.getElementById('invia').removeAttribute('disabled', '')
        }
    }
</script>

