<%- include('navbar.ejs') %>

<%rows.forEach((row) => { %>
    <div class="modal fade" id="esamiModal<%=row.id_insegnamento%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Esami</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <p1>Studenti iscritti all'esame:</p1>
                    <table class="table table-hover mx-auto">
                        <thead>
                          <tr>
                            <th scope="col">Matricola</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Data Iscrizione</th>
                            <th scope="col">Convalida</th>
                          </tr>
                        </thead>
                        <tbody>
                        <% esami.forEach((e)=> { %>
                            <%if(e.id_insegnamento != row.id_insegnamento)  return;%>   
                            <tr>
                                <td>
                                  <%= e.matricola %>
                                </td>
                                <td>
                                  <%= e.nome + ' ' + e.cognome %>
                                </td>
                                <td>
                                    <%= e.data_iscrizione %>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary">Vai</button>
                                </td>
                            </tr>
                
                        <% }) %>
                        </tbody>
                        <tfoot>
                          <tr class="table-dark"></tr>
                        </tfoot>
                      </table>
                </div>
          </div>
        </div>
    </div>
<%})%>

<%rows.forEach((row) => { %>
    <div class="modal fade" id="ricevimentiModal<%=row.id_insegnamento%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ricevimenti</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="POST" action="/crea_ricevimento">
                    <div class="modal-body text-center">
                        <p1>Inserisci data, orario, durata e numero massimo di studenti ammessi</p1>
                            <%var data = new Date().toLocaleDateString().split('/'); %>
                            <%var anno = data[2] + '-';%>
                            <%var giorno = data[0]; %>
                            <%var mese; %>
                            <%if(data[1] <= 9) { %>
                                <%mese = '0' + data[1] + '-'; %>
                            <%} else { %>
                                <%mese = data[1] + '-'; %>
                            <%}%>
                            <%var ora = (new Date()).getHours();%>
                            <%var mins = (new Date()).getMinutes();%>
                            <%var orario = ora.toString() + ':' + mins.toString() %>
                            <div class="container mt-2">
                                <div class="row justify-content-center">
                                    <div class="col-auto" >
                                        <input type="hidden" id="codice1<%=row.id_insegnamento%>" name="codice1" value="<%=row.id_insegnamento%>">
                                        <input type="date" class="form-control" id="data" name="data" value="<%=anno + mese + giorno%>" min="<%=anno + mese + giorno%>" required>
                                        <input type="number" class="form-control mt-2" id="durata" name="durata" placeholder="Durata" required >
                                    </div>
                                    
                                    <div class="col-4" >
                                        <input type="time" class="form-control" id="inizio" name="inizio"  required >
                                        <input type="number" class="form-control mt-2" id="studenti" name="studenti" placeholder="Max. Studenti" required >
                                        
                                    </div>

                                    <div class="col-auto" >
                                        <button type="submit" class="btn btn-primary">Invia</button>
                                    </div>
                                </div>                                          
                            </div>


                            <div class="container mt-2 overflow-auto" style="height: 20;">
                                <p1>Ricevimenti creati:</p1>
                                <table class="table table-hover w-50 mx-auto">
                                    <thead>
                                    <tr>
                                        <th scope="col">Data</th>
                                        <th scope="col">Orario</th>
                                        <th scope="col">Durata</th>
                                        <th scope="col">Max. Studenti</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <% rice.forEach((e)=> { %>
                                        <%if(e.id_materia != row.id_insegnamento)  return;%>   
                                        <tr>
                                            <td>
                                            <%= e.giorno %>
                                            </td>
                                            <td>
                                            <%= e.ora %>
                                            </td>
                                            <td>
                                                <%= e.durata %>
                                            </td>
                                            <td>
                                                <%= e.numstudenti %>
                                            </td>
                                        </tr>
                            
                                    <% }) %>
                                    </tbody>
                                    <tfoot>
                                    <tr class="table-dark"></tr>
                                    </tfoot>
                                </table>
                            </div>
                    </div>
    <!-- 
                    <div class="modal-footer" >
                        <button type="submit" class="btn btn-primary">Invia</button>
                    </div> -->
                </form>
            </div>
        </div>
    </div>
<%})%>

<div class="container text-center pt-3">
    <div class="shadow p-3 mb-5 bg-body rounded">
        <div class="card-body">
            <h2>Insegnamenti attivi per <%=utente.nome + " " + utente.cognome%></h2>
			<table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">ID Materia</th>
                    <th scope="col">SSD</th>
                    <th scope="col">Denominazione</th>
                    <th scope="col">CFU</th>
                    <th scope="col">Ricevimenti</th>
                    <th scope="col">Esami</th>
                    <th scope="col">Scheda di Trasparenza</th>                        
                </tr>
                </thead>
                <tbody>
                <% rows.forEach((row) => { %>
                    <% cod = row.id_insegnamento %>
                    <% if (row.id_docente != utente.id) return; %>
                    <tr>
                    <td name="<%= cod %>"> <%= row.id_insegnamento %> </td>
                    <td> <%= row.ssd %> </td>
                    <td> <%= row.nome_insegnamento %> </td>
                    <td> <%= row.cfu %> </td>
                    <td> <button id="<%=cod%>" value="<%=cod%>" class="btn btn-primary px-4" onclick="modalChange(<%=cod%>,'#ricevimentiModal')" data-bs-toggle="modal" data-bs-target="#ricevimentiModal<%=cod%>">Crea</button> </td>
                    <td> <button class="btn btn-primary" onclick="modalChange(<%=cod%>,'#esamiModal')" data-bs-toggle="modal" data-bs-target="#esamiModal<%=cod%>">Modifica</button> </td>
                    <td> <button class="btn " onclick="modalChange(<%=cod%>,'#schedaModal')" data-bs-toggle="modal" data-bs-target="#schedaModal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-file-earmark-arrow-up" viewBox="0 0 16 16">
                                <path d="M8.5 11.5a.5.5 0 0 1-1 0V7.707L6.354 8.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 7.707V11.5z"/>
                                <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                            </svg>
                        </button>
                        <form>
                            <button class="btn " name="download" value="<%=cod%>">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-file-earmark-arrow-down" viewBox="0 0 16 16">
                                    <path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293V6.5z"/>
                                    <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                                  </svg>
                            </button> 
                        </form></td>
                    </tr>
                    
                <% }) %>
                </tbody>
                <tfoot>
                <tr class="table-dark"></tr>
                </tfoot>
            </table>

            <div class="modal fade" id="schedaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Scheda di trasparenza</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="POST" action="/upload" enctype="multipart/form-data">
                                <label>Seleziona la scheda di trasparenza:</label>
                                <div class="input-group mb-3">
                                    <input type="hidden" id="codice" name="codice">
                                    <input type="file" name="scheda_trasparenza" class="form-control" id="inputGroupFile02" required>
                                    <button type="submit" class="btn btn-primary" >Upload</button>
                                </div>
                            </form>
                        </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<%- include('footer.ejs') %>
<script>
    function modalChange(cod, modal) {
        if (modal == '#schedaModal') {
            document.getElementById('codice').setAttribute("value", cod)
        }

        if (modal == '#ricevimentiModal') {
            document.getElementById('codice1'+cod).setAttribute("value", cod)
        }
    }
</script>

