<%- include('navbar.ejs') %>
	<main>

		<div class="container text-center pt-3">
			<div class="shadow p-3 mb-5 bg-body rounded">
				<div class="row">
					<div class="col-sm-5">
						<div class="card shadow-sm" >
							<div class="card-body">
								<h5 class="card-title">Scopri i nostri corsi di studio!</h5>
								<p class="card-text text-center">Visualizza la lista dei corsi di studio e accedi alla loro pagina informativa cliccando sul corso di studio che ti interessa.</p>
								<a href="#" class="btn btn-primary">Go somewhere</a>
							</div>
						</div>

					</div>
					<div class="col">
						<div class="accordion" id="accordionExample">
							<div class="card">
								<div class="card-header" id="headingOne">
									<h2 class="mb-0">
										<button class="unibtn btn collapsed" style="width: 100%;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
											Lauree triennali
										</button>
									</h2>
								</div>
						
								<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
									<div class="card-body">
										<ul class="list-group list-group-flush">
											<li class="list-group-item">
											<%  rows.forEach(e => {
													if (e.tipo !== 'LT') return; %>
												<button onclick="location.href='/manifesto/<%= e.id %>'" type="button" class="list-group-item list-group-item-action"> <%= e.nome %></button>
											<% }) %>
											</li>
										</ul>
									</div>
								</div>
							</div>

							<div class="card">
								<div class="card-header" id="headingTwo">
									<h2 class="mb-0">
										<button class="btn collapsed" style="width: 100%;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
											Lauree magistrali 
										</button>
									</h2>
								</div>
								<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
									<div class="card-body">
										<ul class="list-group list-group-flush">
											<li class="list-group-item">
												<%  rows.forEach(e => {
														if (e.tipo !== 'LM') return; %>
													<button onclick="location.href='/manifesto/<%= e.id %>'" type="button" class="list-group-item list-group-item-action"> <%= e.nome %></button>
												<% }) %>
											</li>
										</ul>									
									</div>
								</div>
							</div>

							<div class="card">
								<div class="card-header" id="headingThree">
									<h2 class="mb-0">
										<button class="btn collapsed" style="width: 100%;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
											Lauree a ciclo unico
										</button>
									</h2>
								</div>
								<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
									<div class="card-body">
										<ul class="list-group list-group-flush">
											<li class="list-group-item">
												<%  rows.forEach(e => {
														if (e.tipo !== 'LMC') return; %>
													<button onclick="location.href='/manifesto/<%= e.id %>'" type="button" class="list-group-item list-group-item-action"> <%= e.nome %></button>
												<% }) %>
											</li>
										</ul>									
									</div>
								</div>
							</div>
						</div>
				</div>
			</div>
		</div>
	</main>

<%- include('footer.ejs') %>
