<%- include('navbar.ejs') %>
  <div id="manifesto" class="container text-center pt-3">
    <div class="shadow p-3 mb-5 bg-body rounded">
      <button class="btn btn-primary mb-2" onclick="stampa_manifesto()">Stampa Manifesto</button>
      <h2>Insegnamenti primo anno</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">ID Materia</th>
            <th scope="col">SSD</th>
            <th scope="col">Denominazione</th>
            <th scope="col">CFU</th>
            <th scope="col">Docente</th>
            <th scope="col">A scelta</th>
            <th scope="col">N. gruppo</th>
            <th scope="col">Scheda di Trasparenza</th>
          </tr>
        </thead>
        <tbody>
          <% rows.forEach((row)=> { %>
            <% if (row.anno !=1) return; %>
              <tr>
                <td>
                  <%= row.id_insegnamento %>
                </td>
                <td>
                  <%= row.ssd %>
                </td>
                <td>
                  <%= row.nome_insegnamento %>
                </td>
                <td>
                  <%= row.cfu %>
                </td>
                <td>
                  <% var nome = row.nome_insegnamento.toUpperCase() 
                    if (nome !=='TESI' && nome !=='PROVA FINALE' && nome
                    !=='TIROCINIO' ) { var index=docenti.map(doc=> {return doc.id}).indexOf(row.id_docente);
                    if(index != -1) { %> <%= docenti[index].nome + " " + docenti[index].cognome %>
                      <% } } %>
                </td>
                <td>
                  <%if (row.scelta) {%> Si <% } else {%> No <%}%>
                </td>
                <td>
                  <%if (row.scelta) {%>
                    <%=row.blocco%>
                      <% } %>
                </td>
                <td> 
                  <% if (row.scheda_trasparenza) {%>
                    <form action="/download" method="POST">
                      <button type="submit" class="btn " name="download" value="<%=row.id_insegnamento%>">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-file-earmark-arrow-down" viewBox="0 0 16 16">
                            <path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293V6.5z"/>
                            <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                          </svg>
                      </button>
                    </form>
                  <%}%> 
                </td>
              </tr>

              <% }) %>
        </tbody>
        <tfoot>
          <tr class="table-dark"></tr>
        </tfoot>
      </table>

      <h2>Insegnamenti secondo anno</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">ID Materia</th>
            <th scope="col">SSD</th>
            <th scope="col">Denominazione</th>
            <th scope="col">CFU</th>
            <th scope="col">Docente</th>
            <th scope="col">A scelta</th>
            <th scope="col">N. gruppo</th>
            <th scope="col">Scheda di Trasparenza</th>
          </tr>
        </thead>
        <tbody>
          <% rows.forEach((row)=> { %>
            <% if (row.anno !=2) return; %>
              <tr>
                <td>
                  <%= row.id_insegnamento %>
                </td>
                <td>
                  <%= row.ssd %>
                </td>
                <td>
                  <%= row.nome_insegnamento %>
                </td>
                <td>
                  <%= row.cfu %>
                </td>
                <td>
                  <% var nome=row.nome_insegnamento.toUpperCase() 
                    if (nome !=='TESI' && nome !=='PROVA FINALE' && nome
                    !=='TIROCINIO' ) { var index=docenti.map(doc=> {return doc.id}).indexOf(row.id_docente);
                    if(index != -1) { %> <%= docenti[index].nome + " " + docenti[index].cognome %>
                      <% } } %>
                </td>
                <td>
                  <%if (row.scelta) {%> Si <% } else {%> No <%}%>
                </td>
                <td>
                  <%if (row.scelta) {%>
                    <%=row.blocco%>
                      <% } %>
                </td>
                <td> 
                  <% if (row.scheda_trasparenza) {%>
                    <form action="/download" method="POST">
                      <button type="submit" class="btn " name="download" value="<%=row.id_insegnamento%>">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-file-earmark-arrow-down" viewBox="0 0 16 16">
                            <path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293V6.5z"/>
                            <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                          </svg>
                      </button>
                    </form>
                  <%}%> 
                </td>
              </tr>

              <% }) %>
        </tbody>
        <tfoot>
          <tr class="table-dark"></tr>
        </tfoot>
      </table>

      <% if(rows[0].tipo_cds !=='LM' ) { %>
        <h2>Insegnamenti terzo anno</h2>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">ID Materia</th>
              <th scope="col">SSD</th>
              <th scope="col">Denominazione</th>
              <th scope="col">CFU</th>
              <th scope="col">Docente</th>
              <th scope="col">A scelta</th>
              <th scope="col">N. gruppo</th>
              <th scope="col">Scheda di Trasparenza</th>
            </tr>
          </thead>
          <tbody>
            <% rows.forEach((row)=> { %>
              <% if (row.anno !=3) return; %>
                <tr>
                  <td>
                    <%= row.id_insegnamento %>
                  </td>
                  <td>
                    <%= row.ssd %>
                  </td>
                  <td>
                    <%= row.nome_insegnamento %>
                  </td>
                  <td>
                    <%= row.cfu %>
                  </td>
                  <td>
                    <% var nome=row.nome_insegnamento.toUpperCase() 
                    if (nome !=='TESI' && nome !=='PROVA FINALE' && nome
                      !=='TIROCINIO' ) { var index=docenti.map(doc=> {return doc.id}).indexOf(row.id_docente);
                      if(index != -1) { %> <%= docenti[index].nome + " " + docenti[index].cognome %>
                        <% } } %>
                  </td>
                  <td>
                    <%if (row.scelta) {%> Si <% } else {%> No <%}%>
                  </td>
                  <td>
                    <%if (row.scelta) {%>
                      <%=row.blocco%>
                        <% } %>
                  </td>
                  <td> 
                  <% if (row.scheda_trasparenza) {%>
                    <form action="/download" method="POST">
                      <button type="submit" class="btn " name="download" value="<%=row.id_insegnamento%>">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-file-earmark-arrow-down" viewBox="0 0 16 16">
                            <path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293V6.5z"/>
                            <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                          </svg>
                      </button>
                    </form>
                  <%}%> 
                </td>
                </tr>

                <% }) %>
          </tbody>
          <tfoot>
            <tr class="table-dark"></tr>
          </tfoot>
        </table>
        <% if(rows[0].tipo_cds !=='LT' ) {%>
          <h2>Insegnamenti quarto anno</h2>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">ID Materia</th>
                <th scope="col">SSD</th>
                <th scope="col">Denominazione</th>
                <th scope="col">CFU</th>
                <th scope="col">Docente</th>
                <th scope="col">A scelta</th>
                <th scope="col">N. gruppo</th>
                <th scope="col">Scheda di Trasparenza</th>
              </tr>
            </thead>
            <tbody>
              <% rows.forEach((row)=> { %>
                <% if (row.anno !=4) return; %>
                  <tr>
                    <td>
                      <%= row.id_insegnamento %>
                    </td>
                    <td>
                      <%= row.ssd %>
                    </td>
                    <td>
                      <%= row.nome_insegnamento %>
                    </td>
                    <td>
                      <%= row.cfu %>
                    </td>
                    <td>
                      <% var nome=row.nome_insegnamento.toUpperCase() 
                      if (nome !=='TESI' && nome !=='PROVA FINALE' &&
                        nome !=='TIROCINIO' ) { var index=docenti.map(doc=> {return doc.id}).indexOf(row.id_docente);
                        if(index != -1) { %> <%= docenti[index].nome + " " + docenti[index].cognome %>
                          <% } } %>
                    </td>
                    <td>
                      <%if (row.scelta) {%> Si <% } else {%> No <%}%>
                    </td>
                    <td>
                      <%if (row.scelta) {%>
                        <%=row.blocco%>
                          <% } %>
                    </td>
                    <td> 
                  <% if (row.scheda_trasparenza) {%>
                    <form action="/download" method="POST">
                      <button type="submit" class="btn " name="download" value="<%=row.id_insegnamento%>">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-file-earmark-arrow-down" viewBox="0 0 16 16">
                            <path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293V6.5z"/>
                            <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                          </svg>
                      </button>
                    </form>
                  <%}%> 
                </td>
                  </tr>

                  <% }) %>
            </tbody>
            <tfoot>
              <tr class="table-dark"></tr>
            </tfoot>
          </table>
          <h2>Insegnamenti quinto anno</h2>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">ID Materia</th>
                <th scope="col">SSD</th>
                <th scope="col">Denominazione</th>
                <th scope="col">CFU</th>
                <th scope="col">Docente</th>
                <th scope="col">A scelta</th>
                <th scope="col">N. gruppo</th>
                <th scope="col">Scheda di Trasparenza</th>
              </tr>
            </thead>
            <tbody>
              <% rows.forEach((row)=> { %>
                <% if (row.anno !=5) return; %>
                  <tr>
                    <td>
                      <%= row.id_insegnamento %>
                    </td>
                    <td>
                      <%= row.ssd %>
                    </td>
                    <td>
                      <%= row.nome_insegnamento %>
                    </td>
                    <td>
                      <%= row.cfu %>
                    </td>
                    <td>
                      <% var nome=row.nome_insegnamento.toUpperCase() 
                        if (nome !=='TESI' && nome !=='PROVA FINALE' &&
                            nome !=='TIROCINIO' ) { 
                            var index=docenti.map(doc=> {return doc.id}).indexOf(row.id_docente);
                            if(index != -1) { %> 
                              <%= docenti[index].nome + " " + docenti[index].cognome %>
                      <% } } %>
                    </td>
                    <td>
                      <%if (row.scelta) {%> Si <% } else {%> No <%}%>
                    </td>
                    <td>
                      <%if (row.scelta) {%>
                        <%=row.blocco%>
                          <% } %>
                    </td>
                    <td> 
                  <% if (row.scheda_trasparenza) {%>
                    <form action="/download" method="POST">
                      <button type="submit" class="btn " name="download" value="<%=row.id_insegnamento%>">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-file-earmark-arrow-down" viewBox="0 0 16 16">
                            <path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293V6.5z"/>
                            <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                          </svg>
                      </button>
                    </form>
                  <%}%> 
                </td>
                  </tr>

                  <% }) %>
            </tbody>
            <tfoot>
              <tr class="table-dark"></tr>
            </tfoot>
          </table>
          <% } %>
            <% } %>
    </div>
  </div>
  <script>
    function stampa_manifesto() {
      var printwin = window.open("");
      printwin.document.write(document.getElementById("manifesto").innerHTML);
      printwin.print(); 
    }  
  </script>
  <%- include('footer.ejs') %>